.homeImage {
  position: relative;
  height: 100vh;
  background-image: url("../../../portfolio.jpg");
  background-size: cover;
}

h1 {
  color: #fff;
  margin: 0;
  font-size: 80px;
  text-align: center;
  margin-top: 23%;
  opacity: 0.8;
}
