.homeImage {
  position: relative;
  height: 100vh;
  background-image: url("../../../imageFolder/portfolio.jpg");
  background-size: cover;
}

h1 {
  text-align: center;
  margin: 0;
  margin-top: 23%;
  font-size: 80px;
  color: #fff;
  opacity: 0.8;
}
