.HeaderLink {
  display: flex;
  justify-content: space-between;
  .HomeLink {
    margin: 30px 30px 30px 60px;
    font-size: 23px;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
  .OthersLink {
    display: flex;
  }
}
