.textBox {
  text-align: center;

  .textBoxTop {
    width: 1200px;
    height: 40px;
    padding: 5px;
    font-size: 15px;
  }

  .textBoxMiddle {
    margin-top: 50px;
    width: 1200px;
    height: 40px;
    padding: 5px;
    font-size: 15px;
  }
}
