.TextBox {
  text-align: center;

  .TextBoxTop {
    width: 1200px;
    height: 40px;
    padding: 5px;
    font-size: 15px;
  }

  .TextBoxMiddle {
    margin-top: 50px;
    width: 1200px;
    height: 40px;
    padding: 5px;
    font-size: 15px;
  }
}
