a {
  color: #000;
  text-decoration: none;
}
img {
  width: 100%;
}

.topImage {
  position: relative;

  .image {
    position: absolute;
  }
  .header {
    position: absolute;
    width: 100%;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

.middleImage {
  z-index: 2;
  position: absolute;
  top: 330px;
  left: 900px;
}

.letterBottom {
  padding-top: 400px;
  padding-left: 430px;
  font-size: 38px;
  p {
    margin: 5px;
  }
  .link {
    display: flex;
    .linkTwitter {
      display: inline-block;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      &:hover {
        transform: translateY(-0.1875em);
      }
    }
    .linkGithub {
      display: inline-block;
      position: relative;
      text-decoration: none;
      &::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background: #2196f3;
        transition: all 0.3s ease 0s;
      }
      &:hover {
        cursor: pointer;
      }
      &:hover::after {
        width: 100%;
      }
    }
    .linkQiita {
      &:hover {
        letter-spacing: 5px;
      }
    }
  }
}

.letterProfile {
  margin-top: 130px;
  font-size: 50px;
  text-align: center;
}

h2 {
  color: #000;
  margin: 0;
  font-size: 50px;
  text-align: center;
  padding-top: 15px;
  opacity: 0.8;
}
