a {
  color: #000;
  text-decoration: none;
}

img {
  width: 100%;
}
.topImage {
  z-index: 1;
  position: absolute;
  .Image {
    position: absolute;
    .tops {
      position: relative;
    }
  }
  a {
    color: #000;
    text-decoration: none;
  }
}
.middleImage {
  z-index: 2;
  position: absolute;
  top: 330px;
  left: 900px;
}

.letterBottom {
  padding-top: 430px;
  padding-left: 430px;
  font-size: 38px;
  p {
    margin: 5px;
  }
}

.letterProfile {
  margin-top: 130px;
  font-size: 50px;
  text-align: center;
}
