a {
  color: #000;
  text-decoration: none;
}
img {
  width: 100%;
}

.topImage {
  position: relative;

  .image {
    position: absolute;
  }
  .header {
    position: absolute;
    width: 100%;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

.middleImage {
  z-index: 2;
  position: absolute;
  top: 330px;
  left: 900px;
}

.letterBottom {
  padding-top: 400px;
  padding-left: 430px;
  font-size: 38px;
  p {
    margin: 5px;
  }
  .letter {
    display: flex;
    .letterA {
      &:hover {
        color: #c0c0c0;
      }
    }
    .letterB {
      &:hover {
        color: #c0c0c0;
      }
    }
    .letterC {
      &:hover {
        color: #c0c0c0;
      }
    }
  }
}

.letterProfile {
  margin-top: 130px;
  font-size: 50px;
  text-align: center;
}

h2 {
  color: #000;
  margin: 0;
  font-size: 50px;
  text-align: center;
  padding-top: 15px;
}
